<meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />

<link rel="stylesheet" href="/assets/animate.css" type="text/css" />
<link rel="stylesheet" href="/assets/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/assets/simple-line-icons.css" type="text/css" />
<link rel="stylesheet" href="/assets/bootstrap.css" type="text/css" />

<link rel="stylesheet" href="/assets/font.css" type="text/css" />
<link rel="stylesheet" href="/assets/app.css" type="text/css" />

<div class="text-center">
  <a href="http://site.trustvox.com.br/" ><img src="/assets/img/trustvox-maior.png"/></a>
  <h1>Sales Up</h1>
  <h4>Gerenciador de Desempenho Comercial</h4>
</div>

<script src="/assets/jquery.js"></script>
<script src="/assets/bootstrap.js"></script>
<script src="/assets/ui-load.js"></script>
<script src="/assets/ui-jp.config.js"></script>
<script src="/assets/ui-jp.js"></script>
<script src="/assets/ui-nav.js"></script>
<script src="/assets/ui-toggle.js"></script>
<script src="/assets/ui-client.js"></script>