<meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />

<%= stylesheet_link_tag 'animate', 'font-awesome.min', 'simple-line-icons', 'bootstrap', 'font', 'app' %>

<div class="text-center">
  <a href="http://site.trustvox.com.br/" ><img src="/assets/img/trustvox-login-logo.png"/></a>
  <h1>Sales Up</h1>
  <h4>Business Performance Manager</h4>
</div>