html
  head
    meta charset="utf-8" /
    title Sales Up - Forgot your password
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application", media: 'all'
  body
    .app.app-header-fixed
      .container.w-xxl.w-auto-xs
        .m-b-lg
        .text-center
          = link_to(image_tag("trustvox-login-logo.png"), "http://site.trustvox.com.br/")

		  h1 Sales Up
		  h4 Business Performance Manager

          .wrapper.text-center
            strong Enter your email to reset your password
          form name="reset" ng-init="isCollapsed=true"
            .list-group.list-group-sm
              .list-group-item
                input.form-control.no-border ng-model="email" placeholder="Email" required="" type="email" /

            button.btn.btn-lg.btn-primary.btn-block ng-click=("isCollapsed = !isCollapsed") ng-disabled="reset.$invalid" type="submit"  Send
            .text-center.m-t.m-b
              = link_to 'I remeber my password', root_path
