<html>
<head>
  <meta charset="utf-8" />
  <title>Sales Up - Forgot your password</title>
</head>
<body>

<div class="app app-header-fixed ">
  <div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
    <div class="m-b-lg">
      <%= render 'resources' %>
      <div class="wrapper text-center">
        <strong>Enter your email to reset your password</strong>
      </div>
      <form name="reset" ng-init="isCollapsed=true">
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input type="email" placeholder="Email" ng-model="email" class="form-control no-border" required>
          </div>
        </div>
        <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block"  ng-click="isCollapsed = !isCollapsed" >Send</button>
        <div class="text-center m-t m-b"><a href="/">I remeber my password</a></div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
