<html>
<head>
  <meta charset="utf-8" />
  <title>Sales Up - Login</title>
</head>
<body>

<div class="app app-header-fixed ">
  <div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
    <div class="m-b-lg">
      <%= render 'resources' %>
      <form name="form" class="form-validation">
        <div class="wrapper text-center">
            <strong>Please, fill in all the data below</strong>
        </div>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
          </div>
          <div class="list-group-item">
             <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button>
        <div class="text-center m-t m-b"><a href="/forgot_password">Forgot your password?</a></div>
        <div class="line line-dashed"></div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
