.menu{
	padding: 5px;
}

.menu-part-l{
	width: 23%;
	position: relative;
	left: 15px;
}

.margin{
	margin-left: 5px; 
	margin-right: 5px; 
}

.menu-part-r{
	position: relative;
	left: 30px;
}

#btn-logout{
	position: relative;
	left: 50px;
}

#monthBox{
	font-size: 18px;
	height: auto;
}