.menu{
	padding: 5px;
}

.margin{
	margin-left: 5px;
	margin-right: 5px;
}

.numbers{
  width: 100px;
}

.text{
  width: 300px;
}

.day{
  width: 35px;
}

.page-title{
  position: relative;
  left: 43%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.options {
    position: absolute;
    top: 5;
    font-size: 30px;
}

.icons-text {
  margin-left: 35px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#icons {
  float: none;
  position: absolute;
  line-height: 75px;
}

#monthBox{
  font-size: 18px;
  height: auto;
}

#menu-logo{
	width: 40%;
	position: relative;
	left: 25px;
}

#menu-search{
	position: relative;
	left: 3%;
}

#menu-options{
	position: relative;
	left: 7%;
}

#menu-logout{
	position: relative;
	left: 35%;
}

#left-menu {
  z-index: -1;
}
